.btn-wrap {
  position: relative;
  margin: 0 auto;
  padding: 12px 45px;
  background-image: url("../images/btn-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.btn-text {
  font-weight: 600;
  text-transform: uppercase;
}
